# Игнорировать временные файлы Visual Studio
.vs/
.vscode/
*.user
*.suo

# Игнорировать файлы сборки
bin/
obj/

# Игнорировать системные файлы
Thumbs.db
Desktop.ini

# Игнорировать файлы журналов
*.log

x64/
x86/
Debug/
Release/